body{
    background-color: #c3aed6;
}

header{
    width:300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    color:white;
    text-shadow: 7px 3px 4px gray;
    transition-duration: 0.5s;
}

h1:hover{
    text-shadow: -7px -3px 4px white;
    color:black;
}

img{
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:10px white solid;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    
}

img:hover{
    border:10px gray solid;
}

.cancion{
    padding:20px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transition-duration: 0.5s;
    border:10px white solid;
    background-color:#f1d4d4;
    border-radius: 5px;
}

.cancion:hover{
    border:10px #a3d8f4 solid;
}

a{
    text-decoration:none;
    font-size: larger;
    color:#595b83;
}
